/*  your css code here. If applicable */
caption{
	justify-content: center;
}
thead, th{
	text-transform : Uppercase;
	border : 1px solid black;
	background-color : yellow;
}
tbody,tr, td{
	border : 1px solid black;
	background-color : yellow;
}
